<mat-toolbar>
  <span>Test de reacción humana</span>
</mat-toolbar>
<mat-card>
  <mat-card-title class="center">Test de reflejos</mat-card-title>
  <mat-card-subtitle class="center"
    >Mide tu tiempo de reacción</mat-card-subtitle
  >
  <mat-card-actions class="center">
    <button
      mat-raised-button
      color="primary"
      *ngIf="!hasGameStarted"
      (click)="startGame()"
    >
      {{ startButtonText }}
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="hasGameStarted"
      (click)="finishGame()"
    >
      CLICK AQUI
    </button>
    <button  
    mat-raised-button
    color="primary"
    *ngIf="hasGameFinished">
      {{ reactionTime }} ms
    </button>
  </mat-card-actions>
</mat-card>
